.vs
netapi/obj
netapi/bin
datalayer/obj
datalayer/bin
netclient/obj
netclient/bin
testing/bin
testing/obj
soapClient/bin
soapClient/obj
security/bin
security/obj
logiclayer/bin
logiclayer/obj
common/bin
common/obj
netapi/wwwroot
